:root {
  --white: #fff;
  --dark: #333;
  --brown: #B09981;
  --abrown: #AE957A;
  --yellow: #F2C94C;
  --light: #FEFEFE;
  --skin: #F0E6DA;
  --gray: #7D7D7D;
  --hoverBtn: #AC906A;
}

/* fonts */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter-Regular.woff') format('woff'),
      url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskervville';
  src: url('../fonts/Baskervville-Regular.woff2') format('woff2'),
      url('../fonts/Baskervville-Regular.woff') format('woff'),
      url('../fonts/Baskervville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
      url('../fonts/Inter-Bold.woff') format('woff'),
      url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Baskervville';
  scroll-behavior: smooth;
}

body, html {
  overflow-x: hidden !important;
  position: relative;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1200px;
    padding: 0 25px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

.btn {
  cursor: pointer;
  background-color: var(--brown);
  border: 0;
  color: var(--white);
  font-size: 20px;
  padding: 20px 35px;
  border-radius: 2px;
  transition: .5s ease-in-out;
}

.btn:hover {
  background-color: var(--hoverBtn);
}

@media screen and (max-width: 500px) {
  .btn {
    font-size: 16px;
  }
}

.btn-white {
  background-color: var(--white);
  color: var(--dark);
}

.btn-white:hover {
  background-color: var(--dark);
  color: var(--white);
}

/* header */

.header {
  padding: 20px 0;
  background-color: var(--brown);
  font-family: 'Inter';
  font-weight: 700;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child){
  margin-right: 30px;
}

.header-item-link {
  font-size: 24px;
  position: relative;
}

.header-item-link::before {
	content: '';
	width: 100%;
	height: 2px;
	background-color: var(--light);
	position: absolute;
	left: 0; bottom: -5px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.65s;
}

.header-item-link:hover::before {
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.45s;
}

.header-right {
  display: flex;
}

.header-select {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 24px;
  margin-right: 30px;
  position: relative;
}

.header-select::after {
  content: "▼";
  padding: 0 8px;
  font-size: 22px;
  position: absolute;
  right: 8px;
  top: 4px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

.header-social {
  display: flex;
}

.header-select, .header-social {
  flex-shrink: 0;
}

.header-social-link:not(:last-child) {
  margin-right: 30px;
}

.mobile-social, .mobile-btn {
  display: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.line {
  width: 50px;
  height: 3px;
  margin: 10px;
  background-color: #fff;
  transition: all .4s ease;
}

.burger-toggle {
  top: 10px;
}

.burger-toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, -8px);
}

.burger-toggle .line-2 {
  opacity: 0;
}

.burger-toggle .line-3 {
  transform: rotate(45deg) translate(-25px, -16px);
}

@keyframes navLinksFade {
  0%{
    opacity: 0;
    transform: translatex(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 1050px) {
  .header-item-link {
    font-size: 20px;
  }
  .header-social-link:not(:last-child) {
    margin-right: 15px;
  }
  .header-social {
    display: flex;
    flex-direction: column;
  }
  .mobile-social {
    display: none;
  }
  .header-logo {
    flex-shrink: 0;
  }
  .header-list {
    margin: 0 30px;
  }
}

@media screen and (max-width: 920px) {
  .burger {
    position: relative;
    z-index: 999;
    display: block;
  }
  .header-list {
    padding-top: 20px;
    margin-top: 120px;
    width: 100%;
    position: absolute;
    z-index: 998;
    right: -60px;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--brown);
    transform: translateX(100%);
    transition: transform .5s ease-in;
  }
  .header-social {
    display: none;
  }
  .header-item-link {
    font-size: 32px;
    display: block;
    margin-bottom: 40px;
  }
  .header-logo {
    flex-shrink: 1;
    max-width: 300px;
  }
  .header-social-link:not(:last-child) {
    margin-right: 0;
  }
  .header-select {
    font-size: 18px;
    font-weight: 700;
  }
  .mobile-social {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .header-social-link:not(:last-child) {
    margin-right: 20px;
  }
  .mobile-btn {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .header-item-link {
    font-size: 26px;
    display: block;
    margin-bottom: 40px;
  }
  .header-list {
    padding: 40px 0;
    margin-top: 80px;
    text-align: center;
  }
  .header-select {
    margin-right: 0;
    margin: 0 20px;
  }
}

.header-active{
  right: -30px;
  transform: translateX(0%);
}

/* main */

.main {
  margin-top: 60px;
}

.main-hr {
  margin-right: -100px;
  width: 90%;
  margin: 0 auto;
  background-color: var(--abrown);
  height: 3px;
  margin-top: -5px;
  animation: hrAnimeHor 3.5s ease-in-out;
}

.hr-bottom {
  margin-right: -430px;
}

.main-wrap {
  display: flex;
}

.main-text {
  margin-top: 100px;
  max-width: 700px;
  margin-right: 23px;
}

.main-images {
  position: relative;
}

.main-model {
  margin-top: -2px;
  position: relative;
}

.main-model::before {
  content: '';
  position: absolute;
  top: 0;left: 0;
  width: 3px;
  height: 110%;
  background-color: var(--abrown);
  animation: hrAnimeVert 3.5s ease-in-out;
}

.main-model::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 110%;
  background-color: var(--abrown);
  animation: hrAnimeVert 3.5s ease-in-out;
}

.main-book {
  max-width: 320px;
  position: absolute;
  bottom: 0;
  right: -200px;
}

.main-help {
  font-family: Baskervville; 
  font-size: 12px;
  font-weight: 400;
  color: var(--dark);
  text-transform: uppercase; 
  margin-bottom: 20px;
  display: block;
}

.main-title {
  color: var(--dark);
  font-family: 'Inter Bold';
  font-size: 48px;
  letter-spacing: 1px;
}

.main-description {
  margin-top: 20px;
  margin-bottom: 31px;
  color: var(--dark);
  font-size: 26px; 
  letter-spacing: 1px;
}

@media screen and (max-width: 1034px) {
  .main-wrap {
    flex-wrap: wrap-reverse;
  }
  .main-hr {
    float: left;
    margin-right: 0;
    margin-left: -30px;
  }
  .main-images, .main-text {
    margin: 0 auto;
  }
  .main-text {
    margin-top: 100px;
  }
  .main-images::before {
    content: '';
    position: absolute;
    background-color: var(--abrown);
    bottom: 2px;
    left: -100px;
    width: 1000px;
    height: 3px;
  }
  .hr-bottom {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main-model {
    max-width: 400px;
  }
  .main-book {
    max-width: 240px;
    right: -100px;
  }
  .main-title {
    font-size: 32px;
  }
  .main-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 612px) {
  .main-model {
    max-width: 300px;
  }
  .main-book {
    max-width: 180px;
    right: -50px;
  }
}

/* about */

.about {
  margin-top: 140px;
}

.title {
  color: var(--dark);
  font-family: Inter Bold;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 678px) {
  .title {
    font-size: 32px;
  }
}

.about-title {
  position: relative;  
}

.about-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -160%;
  height: 3px;
  width: 3000px;
  background-color: var(--abrown);
}

.about-wrap {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.about-image, .about-text {
  width: calc(100% / 12 * 6 - 50px)
}

.about-subtitle {
  text-align: center;
  font-size: 32px;
  color: var(--dark);
  font-family: Inter;
  text-transform: uppercase;
  font-weight: 700;
}

span.about-subtitle {
  margin-right: -120px;
  display: block;
  margin-top: 15px;
}

.about-description {
  margin-top: 40px;
  font-size: 28px;
  max-width: 450px;
  letter-spacing: 1px;
}

.about-description:last-child {
  margin-left: auto;
  margin-bottom: 45px;
}

.about .btn {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1118px) {
  span.about-subtitle {
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .about-wrap {
    flex-wrap: wrap;
  }
  .about-image, .about-text {
    width: 100%
  }
  .about-text {
    margin-top: 40px;
  }
  .about-subtitle {
    font-size: 24px;
  }

  .about-description {
    font-size: 18px;
  }
}

/* who section */

.who {
  margin-top: 150px;
}

.who-title {
  position: relative;
  padding: 15px;
  background-color: #AE957A;
  color: #fff;
  max-width: 700px;
  z-index: 4;
}

.who-title::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: #AE957A;
  position: absolute;
  top: 0;
  right: -100%;
}

.who-slide {
  position: relative;
  display: none;
  justify-content: space-between;
}

.who-slide-active {
  display: flex;
}

.who-photos {
  position: relative;
  width: calc(100% / 12 * 4 - 120px);
  margin: 100px auto;
}

.who-text {
  width: calc(100% / 12 * 8 - 120px);
}

.who-text {
  margin-top: -90px;
  background-color: #F0E6DA;
  padding-top: 150px;
  padding-left: 130px;
}

.who-content {
  color: #333;
  max-width: 600px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.who-name {
  margin-top: 40px;
  margin-bottom: 12px;
  color: #333;
  font-size: 36px;
  font-weight: 700;
  line-height: 130%;
}

.who-prof {
  color: #7D7D7D;
  font-size: 24px;
}

.who-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform:translate(-120%, -100%); 
}

.who-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform:translate(120%, -100%);
}

@media screen and (max-width: 1108px) {
  .who-photos, .who-text {
    width: calc(100% / 12 * 6 - 30px);
  }
  .who-text {
    margin-top: -40px;
    padding-top: 100px;
    padding-left: 40px;
  }

  .who-left {
    transform:translate(-0%, -100%); 
  }
  
  .who-right {
    transform:translate(0%, -100%);
  }
}

@media screen and (max-width: 867px) {
  .who-slide {
    text-align: center;
  }

  .who-slide-active {
    display: block;
  }

  .who-photos, .who-text {
    width: 100%;
  }
  .who-content {
    margin: 0 auto;
    font-size: 18px;
  }
  .who-text {
    margin-top: 0;
    padding: 20px 15px;
  }
  .who-name {
    font-size: 20px;
  }
  .who-prof {
    font-size: 19px;
  }
  .arrow {
    width: 50px;
    height: 50px;
  }
  
  .arrow::after {
    padding: 6px;
  }
}

@media screen and (max-width: 678px) {
  .who-arrows {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .who-left, .who-right {
    position: relative;
    transform:translate(0%, 0%); 
  }
}
.arrow {
  --arrowBorderSize: 3px;
  cursor: pointer;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: var(--arrowBorderSize) solid #AE957A;
  transition: .7s ease-in;
}

.arrow:hover {
  background-color: #AE957A;
  border-color: #fff;
}

.arrow:hover::after {
  border-color: #fff;
}

.arrow::after {
  content: '';
  border: var(--arrowBorderSize) solid #AE957A;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  transition: .7s ease-in;
}

.arrow-up, .arrow-up::after {
  border-color: #333;
}

.arrow-right::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: -10px;
}

.arrow-up::after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 10px;
}

.arrow-left::after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: -10px;
}

.who-dots {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.dot {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #F0E6DA;
  margin-right: 15px;
  transition: .4s ease-in-out;
  border-radius: 1px;
}

.dot:hover {
  transform: scale(1.6);
}

.dot-active {
  transform: scale(2);
  background-color: #AE957A;
}


@keyframes sliderNext{
  0%{
    opacity: 0;
    transform: translateX(200px);
  }
  100%{
    opacity: 1;
  }
}

@keyframes sliderPrev{
  0%{
    opacity: 0;
    transform: translateX(-200px);
  }
  100%{
    opacity: 1;
  }
}

@keyframes sliderInner{
  0%{
    opacity: 0;
    transform: scale(.4);
  }
  100%{
    opacity: 1;
  }
}

@keyframes hrAnimeVert {
  0% {
    height: 0;
  }
  100% {
    height: 110%;
  }
}

@keyframes hrAnimeHor {
  0% {
    width: 0;
  }
  100% {
    width: 110%;
  }
}

/* services */

.services {
  margin-top: 140px;
}

:root {  /* various fiddle bit - have a play */
  --content-card-scale: 2;
  --content-width: calc((100vh / var(--content-card-scale)) * 2 / 3);
  --content-height: calc(100vh / var(--content-card-scale));
  --font-size: calc(5px + 100vh / 50);
}

@-webkit-keyframes bounce {
  0% { margin-top:  0px; }
 50% { margin-top: -8px; }
100% { margin-top:  0px; }
}

@keyframes bounce {
  0% { margin-top:  0px; }
 50% { margin-top: -8px; }
100% { margin-top:  0px; }
}

.coverflow {
  position: relative;
  height: 100%;
  min-height: 90vh;
  width: 100%;
  perspective: 2000px;
}

.coverflow-opened {
  perspective: none;
}

.coverflow .content {
  position: absolute;
  top: calc(50% - var(--content-height) / 2);
  left: calc(50% - var(--content-width) / 2);
  width: var(--content-width);
  height: var(--content-height);
  transform-style: preserve-3d;
  transition: all 300ms ease-in-out;
  outline: none;
}

.coverflow .content::before {
  cursor: pointer;
  content: 'Смотреть';
  position: absolute;
  width: 200px;
  height: 20px;
  z-index: 2;
  background-color: #AE957A;
  top:50%;
  left:50%;
  opacity: 0;
  transform:translate(-50%, -50%); 
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  transition: .6s ease-in-out;
}

.coverflow .content.current:hover::before {
  opacity: 1;
}

.coverflow .content.current:hover .front-image {
  filter: blur(1.5px);
}

.coverflow .content:not(.current):hover .front {
  margin-top: -30px;
filter: grayscale(0%) brightness(100%);
}

.coverflow .content .front,
.coverflow .content .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: .6s ease;
}

.coverflow .content .back {
  top: calc((var(--content-height) - var(--content-width)) / 2);
  left: calc((var(--content-width) - var(--content-height)) / 2);
  height: var(--content-width);
  width: var(--content-height);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg) rotateZ(90deg);
  text-align: center;
  color: #333;
  z-index: 5;
}

.back-description {
  color: #333;
  text-align: center;
  font-family: Baskervville;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.coverflow .content .back .back-btn {
  margin-top: 20px;
  font-size: 12px;
  padding: 10px 15px;
}

.coverflow .content .back .back-title {
  color: #333;
  font-family: Inter;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.coverflow .content .front img {
  vertical-align: middle;
  border-radius: 10px;

  width: var(--content-width);
  height: var(--content-height);
  -o-object-fit: cover;
    object-fit: cover;
  cursor: pointer;
  filter: grayscale(60%) brightness(80%);
}

.coverflow .content.current:not(.selected) .front img {
  filter: grayscale(0%) brightness(100%);
}

.coverflow .content .front .info {
  display: none;
  font-size: var(--font-size);
  width: calc(100% + 6px);
  white-space: nowrap;
  text-transform: uppercase;
  outline: none;
}

.coverflow .content.current:not(.selected) .front .info {
  display: block;
}

.info-title {
  margin-top: 15px;
  font-size: 20px;
  font-family: Inter;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .coverflow .content .back {
    padding: 0 20px;
  }
}

/* request */

.request {
  padding: 80px 0px;
}

.request-title {
  margin-bottom: 100px;
}

.request-wrap {
  display: flex;
}

.request-form, .request-images {
  width: calc(100% / 12 * 6);
}

.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 20px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 24px;
  color: #AC906A;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 24px;
  color: #D9D9D9;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #AE957A;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}

@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}

.request-images {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.request-image:first-child {
  display: flex;
  justify-content: flex-end;
}

.request-image img{
  width: calc(100% / 12 * 6);
}


@media screen and (max-width: 768px) {
  .request-wrap {
    flex-wrap: wrap-reverse;
  }

  .request-form, .request-images {
    width: 100%;
  }
  .form-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .request-images {
    display: flex;
    justify-content: center;
  }
  .request-image:first-child {
    display: block;
  }
  .request-image {
    display: block;
    text-align: center;
  }
  .request-image img{
    max-width: 500px;
    width: 100%;
  }
  
}